div {
  border: solid 3px lightGray;
  text-align: center;
  background-color: bisque;
  margin: 20px;
}

.zbay {
  margin: 50px;
  padding: 30px;
  background-color: rosybrown;
  border-radius: 20px;
}

h2 {
  text-align: center;
}
