.grid-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  background-color: LightSteelBlue;
  row-gap: 5px;
}

.grid-item {
  background-color: Lavender;
  color: black;
  text-align: center;
  padding: 15px;
}

.grid-container1 {
  display: grid;
  grid-template-columns: repeat(4, auto);
  background-color: LightSteelBlue;
  column-gap: 5px;
}

.grid-container2 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  background-color: LightSteelBlue;
  gap: 5px 10px;
}

.grid-container3 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  background-color: LightSteelBlue;
  gap: 10px;
}
