.grid-container {
  display: grid;
  grid-template: 50px 50px / 150px 150px;
  background-color: LightSteelBlue;
  border: dashed 1px LightSlateGray;
}

.grid-item {
  background-color: Lavender;
  color: black;
  text-align: center;
  margin: 2px;
}

.grid-container1 {
  display: grid;
  grid-template: 50px 50px / 1fr 1fr;
  background-color: LightSteelBlue;
  border: dashed 1px LightSlateGray;
}

.grid-container2 {
  display: grid;
  grid-template: 60% auto / 1fr 1fr;
  background-color: LightSteelBlue;
  border: dashed 1px LightSlateGray;
}

.grid-container3 {
  display: grid;
  grid-template: 1fr 1fr 1fr / 60% auto;
  background-color: LightSteelBlue;
  border: dashed 1px LightSlateGray;
}
