div {
  border: solid 3px;
  color: SlateGray;
}

.successeur_au_trone {
  color: gold;
}

.gros-titre {
  background-color: Gainsboro;
  padding: 10px;
}

.histoire-principal {
  border: solid 3px SlateGray;
  padding: 20px;
}
